<form class="flex flex-wrap justify-around"
    [formGroup]="filterForm">
    <div class="[ order ] flex flex-col items-left">
        <p class="text-lg font-bold pb-1">
            Order
        </p>
        <div class="flex">
            <input type="radio" id="DESC" value="DESC" class="hidden"
                formControlName="order"
                (change)="switchOrderRadio()"
                (change)="filterChange()">
            <label for="DESC"
                class="font-bold rounded-l-lg p-2"
                [@orderRadio]="orderRadio == 'DESC' ? 'active' : 'inactive'">
                DESC
            </label>
            <input type="radio" id="ASC" value="ASC" class="hidden"
                formControlName="order"
                (change)="switchOrderRadio()"
                (change)="filterChange()">
            <label for="ASC"
                class="font-bold rounded-r-lg p-2"
                [@orderRadio]="orderRadio == 'ASC' ? 'active' : 'inactive'">
                ASC
            </label>
        </div>
    </div>
    <div class="[ push ] flex flex-col items-left">
        <label for="push" class="text-lg font-bold pb-1">Push: {{ this.filterForm!.value.push }}</label>
        <input type="range" id="push" min="0" max="99"
            class="h-full"
            formControlName="push" 
            (change)="filterChange()">
    </div>
    <div class="[ before ] flex flex-col items-left">
        <label for="before" class="text-lg font-bold pb-1">before</label>
        <input type="date" id="before"
            class="h-full"
            formControlName="before" 
            (change)="filterChange()">
    </div>
    <div class="[ after ] flex flex-col items-left">
        <label for="after" class="text-lg font-bold pb-1">after</label>
        <input type="date" id="after" 
            class="h-full"
            formControlName="after" 
            (change)="filterChange()">
    </div>
</form>