<div class="bg-black p-4 2xl:p-8 my-4 border border-solid rounded-2xl">
    <div class="text-gray-400 grid grid-cols-6 grid-rows-4 gap-2">
        <div>連結: </div>
        <div class="col-span-5">
            <a href="{{url}}"
                target="_blank"
                rel="noreferrer noopener">{{url}}</a>
        </div>
        <div>作者: </div>
        <div class="col-span-5">
            <p>{{id}}</p>
        </div>
        <div>發文時間: </div>
        <div class="col-span-5">
            <p>{{toDateTime(timestamp)}}</p>
        </div>
        <div>推文數: </div>
        <div class="col-span-5">
            <p>{{push}}</p>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center">
        <div *ngFor="let href of hrefs"
            class="flex flex-col justify-center items-center w-full md:w-3/4 lg:w-1/2 2xl:w-3/4 bg-white w-100 my-2">
            <div class="[ image-link ] w-full h-8">
                <button>imgur</button>
            </div>
            <div class="[ image-div ] flex justify-center items-center bg-gray-400 w-full min-h-32 flex-grow">
                <img
                    *ngIf="isImg(href)"
                    class="max-w-full max-h-full mx-auto" 
                    [src]="href" alt="">
                <video
                    *ngIf="isVideo(href)"
                    type="video/mp4"
                    class="max-w-full max-h-full mx-auto" 
                    [src]="href" alt=""
                    controls>
                </video>
            </div>
        </div>
    </div>
</div>