<div class="relative flex border border-solid lg:flex-col lg:border-none">
    <app-site-title 
        class="flex justify-center items-center bg-green-300 w-full p-4 mt-2 lg:rounded-t-2xl">
    </app-site-title>
    <app-navigation #appNavigation
        class="flex justify-center items-center p-4 mb-2 z-10 --bg-beige lg:w-full lg:rounded-b-2xl"
        [ngStyle]="setFixedStyles()"
        (onSetFormService)="setFormService($event)"
        (onSetArticles)="setArticles($event)">
    </app-navigation>
</div>